@use 'sass:map';

$color-primary: #2c2c2c;

$color-muted: #75706f;
$color-muted-light: #949494;

// rename these to bg-widget bg-site
$color-bg-widget: #ffffff;
$color-bg-site: #fbfff7;
$color-bg-header: #ecf8ff;

$color-text-main: #2c2c2c;
$color-text-main-hover: #505050;

$color-text-muted: #75706f;

$color-text-secondary: #94c6ff;
