@use 'sass:map';

$breakpoints-width: (
    mobile-small: 320px,
    mobile-medium: 440px,
    mobile-large: 540px,
    tablet-small: 640px,
    tablet-large: 740px,
    desktop: 1140px,
);

// $breakpoints-height: (
//     md: 600px,
// );

@mixin respond-up-width($size) {
    $breakpoint: map.get($breakpoints-width, $size);

    @media (min-width: $breakpoint) {
        @content;
    }
}

// @mixin respond-up-width-height($w, $h) {
//     $min-width: map.get($breakpoints-width, $w);
//     $min-height: map.get($breakpoints-height, $h);

//     @media (min-width: $min-width) and (min-height: $min-height) {
//         @content;
//     }
// }
