@use '../global/colors' as *;
@use '../global/typography' as *;
@use '../global/spacing' as *;
@use '../global/layout' as *;
@use '../global/animations' as *;

.footer {
    .container_footer {
        padding-top: 1.5rem;
        padding-inline: 1.5rem;
        padding-bottom: 1.5rem;

        display: flex;
        flex-direction: column;
        gap: 1.875rem;

        @include respond-up-width(xxl) {
            padding-top: 2.5rem;
            padding-inline: 3.75rem;
        }

        .container_top {
            display: flex;
            align-items: center;
            justify-content: center;

            @include respond-up-width(xxl) {
                justify-content: space-between;
            }

            .container_flex {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 2.5rem;

                .container_logo {
                    display: none;

                    @include respond-up-width(xxl) {
                        display: flex;
                        flex-direction: row;
                    }

                    .image_Logo {
                        height: 100%;

                        user-select: none;
                        -webkit-user-drag: none;
                    }
                }

                .icon_CircleSmall {
                    display: none;

                    user-select: none;
                    -webkit-user-drag: none;

                    @include respond-up-width(xxl) {
                        display: flex;
                    }
                }

                .nav_footer {
                    display: none;

                    @include respond-up-width(xxl) {
                        display: flex;
                    }

                    .nav_route {
                        position: relative;

                        width: fit-content;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        font-family: 'Nexa', sans-serif;
                        color: $color-text-main;
                        font-size: 16px;
                        font-weight: 400;
                        text-decoration: underline;
                        text-decoration-thickness: 0.1rem;
                        text-underline-offset: 0.1rem;

                        transition: color 0.2s ease-in-out;

                        &:hover {
                            color: $color-muted;
                        }

                        .nav_divider {
                            margin-inline: 1rem;

                            user-select: none;
                            -webkit-user-drag: none;
                        }
                    }

                    .nav_route.active {
                        color: $color-text-secondary;

                        &::after {
                            background-color: $color-text-secondary;
                        }
                    }
                }
            }
        }

        .container_socials {
            display: flex;
            justify-content: center;
            gap: 1.875rem;

            .container_updates {
                position: relative;
                bottom: 0.5rem;

                display: none;
                flex-direction: column;
                gap: 0.25rem;

                width: 100%;
                max-width: 21.25rem;

                font-family: 'Nexa', sans-serif;

                @include respond-up-width(xxxl) {
                    display: flex;
                }

                .input_text {
                    padding-left: 1rem;

                    font-size: 14px;
                    color: $color-text-muted;
                }

                .container_input {
                    position: relative;

                    .input_mail {
                        padding-left: 0.85rem;
                        padding-right: 2.5rem;
                        box-sizing: border-box;

                        width: 18.75rem;
                        height: 2.5rem;

                        background-color: $color-bg-site;
                        border: 2px solid $color-muted;
                        border-radius: $border-radius-md;
                        outline: none;

                        font-size: 16px;
                        font-weight: 500;
                        text-indent: 0.25ch;
                        color: $color-text-main;

                        transition: border-color 0.3s ease;
                        appearance: none;
                        -webkit-appearance: none;

                        &::placeholder {
                            z-index: 10;

                            font-weight: 500;
                            color: $color-text-muted;

                            user-select: none;
                        }

                        &:focus,
                        &:hover {
                            border: 2px solid $color-primary;
                        }
                    }

                    .icon_Arrow {
                        position: absolute;
                        top: 50%;
                        right: 1rem;

                        padding-top: 0.5rem;
                        padding-inline: 0.25rem;
                        padding-bottom: 0.5rem;

                        transform: translateY(-50%);
                        // pointer-events: none;

                        z-index: 10;

                        cursor: pointer;

                        // color: green;

                        transition: transform 0.3s ease-in-out;

                        &:hover {
                            transform: translateY(-50%) translateX(0.125rem);
                        }
                    }
                }
            }

            img {
                cursor: pointer;

                user-select: none;
                -webkit-user-drag: none;
            }

            // hover effect scale here
        }

        .container_bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            @include respond-up-width(xxl) {
                flex-direction: row;
                justify-content: start;
            }

            .text_copyright {
                font-family: 'Nexa', sans-serif;
                font-size: 16px;
            }

            .icon_CircleSmall {
                user-select: none;
                -webkit-user-drag: none;
            }

            .credits {
                display: flex;
                gap: 0.25rem;

                .text_credit {
                    font-size: 16px;
                    font-weight: 400;
                }

                .anchor_credit {
                    color: $color-text-secondary;
                    font-size: 16px;
                    font-weight: 400;
                    text-decoration: underline;
                    text-decoration-thickness: 0.1rem;
                    text-underline-offset: 0.1rem;
                }
            }
        }
    }
}
