@use '../global/colors' as *;
@use '../global/typography' as *;
@use '../global/spacing' as *;
@use '../global/layout' as *;
@use '../global/animations' as *;

.header {
    padding-top: 1.5rem;
    padding-inline: 1rem;
    padding-bottom: 1.5rem;

    position: fixed;

    width: 100%;

    @include respond-up-width(xxl) {
        padding-top: 0rem;
        padding-inline: 0rem;

        // position: static;
    }

    .container_header {
        padding-top: 0.55rem;
        padding-inline: 1.5rem;
        padding-bottom: 0.55rem;

        display: flex;
        flex-direction: column;

        width: 100%;
        min-height: 50px;

        background-color: rgba($color-bg-header, 0.5);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);

        border-radius: $border-radius-xs;
        border: 1px solid rgba(0, 0, 0, 0.05);

        @include respond-up-width(xxl) {
            padding-top: 2.25rem;
            padding-inline: 3.75rem;
            padding-bottom: 2.25rem;

            background-color: transparent;
            backdrop-filter: none;
            -webkit-backdrop-filter: none;

            border: none;
            border-radius: none;
        }

        .container_top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .container_logo {
                display: flex;
                align-items: center;
                justify-content: space-between;

                width: 100%;

                .image_Logo {
                    width: 3.375rem;
                    height: 1.875rem;

                    user-select: none;
                    -webkit-user-drag: none;

                    @include respond-up-width(xxl) {
                        width: auto;
                        height: auto;
                    }
                }
            }

            .button_menu {
                padding-left: 1rem;

                display: flex;
                align-items: center;

                @include respond-up-width(xxl) {
                    display: none;
                }

                .icon_Menu {
                    user-select: none;
                    -webkit-user-drag: none;

                    transition: transform 0.4s;
                }

                .icon_Menu.rotate {
                    transform: rotate(-45deg);
                }
            }
        }

        .button_login {
            padding-top: 0.5rem;
            padding-inline: 1rem;
            padding-bottom: 0.5rem;

            display: none;

            text-decoration: none;
            font-family: 'Nexa', sans-serif;
            color: $color-text-main;

            border-radius: $border-radius-sm;
            border: 2px solid $color-muted;

            cursor: pointer;

            user-select: none;
            -webkit-user-drag: none;

            transition: border-color 0.3s ease;

            &:hover {
                border-color: $color-primary;
            }

            @include respond-up-width(xxl) {
                display: block;
            }
        }

        .nav_mobile {
            padding-top: 0rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2.25rem;

            width: 100%;
            max-height: 0;
            height: 0;

            opacity: 0;

            pointer-events: none;

            transition:
                opacity 0.3s ease,
                max-height 0.3s ease 0.2s,
                height 0.3s ease 0.2s;

            @include respond-up-width(xxl) {
                display: none;
            }

            .nav_route {
                position: relative;

                width: fit-content;

                text-decoration: none;
                color: rgba($color-text-muted, 0.4);
                font-size: 36px;
                line-height: 1.25;

                transition: color 0.4s;

                &::after {
                    position: absolute;
                    left: 0;
                    bottom: 0px;

                    width: 0;
                    height: 0.2rem;

                    content: '';
                    background-color: rgba($color-text-muted, 0.6);

                    transition:
                        width 0.5s ease,
                        background-color 0.5s ease;
                }

                &:hover {
                    color: rgba($color-text-muted, 0.6);
                }

                &:hover::after {
                    width: 100%;

                    background-color: rgba($color-text-muted, 0.6);
                }

                @include respond-up-width(xxl) {
                    font-size: 20px;
                    font-weight: 400;

                    &::after {
                        position: absolute;
                        left: 0;
                        bottom: -1px;

                        width: 0;
                        height: 0.15rem;

                        content: '';
                        background-color: rgba($color-text-muted, 0.6);

                        transition:
                            width 0.5s ease,
                            background-color 0.5s ease;
                    }
                }
            }

            .nav_route.active {
                color: $color-text-secondary;

                &::after {
                    width: 100%;

                    background-color: $color-text-secondary;
                }
            }
        }

        .nav_mobile.open {
            max-height: 100dvh;
            height: calc(100dvh - 6.25rem);

            opacity: 1;

            z-index: 100;

            pointer-events: auto;

            transition:
                opacity 0.5s ease 0.3s,
                max-height 0.3s ease,
                height 0.3s ease;
        }
    }
}
