@use '../global/colors' as *;
@use '../global/typography' as *;
@use '../global/spacing' as *;
@use '../global/layout' as *;
@use '../global/animations' as *;

.landing {
    display: flex;
    flex-direction: column;

    font-family: 'Gelica';

    background-color: $color-bg-site;

    .container_sections {
        margin-top: 6.25rem; // the height of Header.tsx

        display: none;
        flex-direction: column;
        // height: 150vh; // for testing; shouldn't be here, content will fill height

        .section_1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .hero_title {
            }
        }
    }
}
