@use '../global/colors' as *;
@use '../global/typography' as *;
@use '../global/spacing' as *;
@use '../global/layout' as *;
@use '../global/animations' as *;

.landing {
    height: 110vh;

    font-family: 'Gelica';

    background-color: $color-bg-site;
}
