@use '../global/colors' as *;
@use '../global/typography' as *;
@use '../global/spacing' as *;
@use '../global/layout' as *;
@use '../global/animations' as *;

.landing {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;

    font-family: 'Gelica';

    background-color: $color-bg-site;

    .container_page {
        height: 50vh; // for testing; shouldn't be here, content will fill height
    }
}
