@keyframes SearchMessage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Medicine {
    from {
        opacity: 0;
        transform: translateY(0.5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Disclaimer {
    from {
        opacity: 0;
        transform: translateY(0.5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Background {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes DrawLine {
    from {
        stroke-dashoffset: 1.02;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes Section {
    from {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(1.25rem);
    }
    30%,
    70% {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(-1.25rem);
    }
}

@keyframes Content {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Hero {
    from {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(-1.25rem);
    }
}

@keyframes Species {
    from {
        opacity: 0;
        transform: translateY(0.5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Outro {
    from {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(1.25rem);
    }
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

@keyframes Wordmark {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Logo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Navigation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Panel {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}
