@use 'sass:map';

$background-site: #fbfff7;
$background-white: #ffffff;

$color-black: #2c2c2c;
$color-grey: #75706f;
$color-mediumgrey: #939591;
$color-lightgrey: #949494;
$color-oceangrey: #cac8c8;
$color-mistgrey: #e6e6e6;

$color-red: #ff8080;
$color-lightorange: #fff9ef;

$color-green: #9ee8c0;
$color-lightgreen: #f3ffe9;

$color-blue: #94c6ff;
$color-lightblue: #ecf8ff;

$color-purple: #af8ef9;
