@use 'sass:map';

@font-face {
    font-family: 'Nexa';
    src: url('@/assets/fonts/Nexa-Trial-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Gelica';
    src: url('@/assets/fonts/Gelica-Trial-Regular.otf') format('opentype');
    font-style: normal;
}
