@use 'colors' as *;
@use 'typography' as *;
@use 'spacing' as *;
@use 'layout' as *;
@use 'animations' as *;

.layout {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    height: 100vh;
}
