@use 'colors' as *;
@use 'typography' as *;
@use 'spacing' as *;
@use 'layout' as *;
@use 'animations' as *;

.searchbar {
    padding-top: 2.25rem;
    padding-inline: 1.25rem;
    padding-bottom: 0.75rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    z-index: 10;

    width: 100%;

    background: $background-white;

    &::before {
        position: absolute;
        left: 0;
        top: 0;

        width: var(--search-progress, 0%);
        height: 2px;

        content: '';
        background: $color-black;
        opacity: var(--search-opacity, 1);

        pointer-events: none;

        transition:
            width 0.5s ease-in-out,
            opacity 0.35s ease-in-out;
    }

    &.progress-hidden::before {
        opacity: 0;
    }

    &::after {
        position: absolute;
        left: 0;
        bottom: -0.625rem;

        width: 100%;
        height: 0.625rem;

        content: '';
        background: linear-gradient(to bottom, $background-white 10%, rgba($background-white, 0) 100%);

        pointer-events: none;
    }
}

.container_searchbar {
    display: flex;
    justify-content: center;

    position: relative;

    width: 100%;
    max-width: 25rem;

    .icon_Search {
        position: absolute;
        top: 47.5%;
        left: 1.25rem;

        color: $color-mediumgrey;

        pointer-events: none;
        transform: translateY(-45%);
    }

    .input_search {
        padding-left: 3.25rem;
        padding-right: 1.875rem;
        box-sizing: border-box;

        width: 100%;
        height: 2.8125rem;

        font-size: 16px;
        font-weight: 600;
        text-indent: 0.25ch;
        color: $color-black;

        background-color: $background-white;
        border: 2px solid $color-mediumgrey;
        border-radius: $border-radius-md;

        outline: none;
        appearance: none;
        -webkit-appearance: none;
        transition: border-color 0.3s ease;

        &::placeholder {
            z-index: 10;

            font-weight: 600;
            color: $color-mediumgrey;

            user-select: none;
        }

        &:focus,
        &:hover {
            border: 2px solid $color-black;
        }
    }
}

.container_results {
    margin-top: 0.35rem;
    padding-left: 1.5rem;

    overflow: hidden;

    width: 100%;
    max-width: 25rem;
    height: 1.125rem;

    transition:
        height 0.35s ease,
        margin-top 0.35s ease;

    &.empty {
        margin-top: 0;

        height: 0;
    }

    .text_results {
        font-size: 14px;
        font-weight: 600;
        color: $color-mediumgrey;

        animation: SearchMessage 0.35s ease;
    }
}
