@use 'colors' as *;
@use 'typography' as *;
@use 'spacing' as *;
@use 'layout' as *;
@use 'animations' as *;

.container_species {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;

    position: relative;

    width: 100%;

    @include respond-up-width(tablet-large) {
        flex-direction: row;
        align-items: center;
        gap: 2.5rem;

        height: 100%;
    }

    .container_cluster {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;

        @include respond-up-width(tablet-large) {
            width: 60%;
            height: 100%;
        }
    }

    .container_details {
        margin-inline: auto;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        max-width: 24rem;

        animation: Species 0.4s ease;

        @media (prefers-reduced-motion: reduce) {
            animation: none;
        }

        @include respond-up-width(tablet-large) {
            margin-inline: 0;

            width: 40%;

            text-align: left;
        }
    }

    .title_species {
        font-family: 'Gelica';
        font-size: 22px;
        font-weight: 500;
        line-height: 1.2;
        color: $color-black;

        @include respond-up-width(desktop) {
            font-size: 28px;
        }
    }

    .text_species {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: $color-mediumgrey;

        @include respond-up-width(desktop) {
            font-size: 18px;
        }
    }

    .text_medicines {
        margin-top: 0.5rem;

        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        color: $color-purple;
    }
}

.container_animals {
    position: relative;

    width: 100%;
    height: 16rem;

    @include respond-up-width(tablet-large) {
        max-width: 40rem;
        height: 100%;
        max-height: 25rem;
    }

    .button_animal {
        all: unset;
        box-sizing: border-box;

        position: absolute;

        aspect-ratio: 420 / 290;

        cursor: pointer;
        transform: translate(-50%, -50%);

        &:hover .icon_Animal {
            color: $color-oceangrey;
        }

        &.active .icon_Animal {
            color: $color-purple;
        }
    }

    .button_parrot {
        top: 15%;
        left: 47.5%;

        width: 2.75rem;

        @include respond-up-width(tablet-large) {
            top: 15%;
            left: 45%;

            width: 6.25rem;
        }
    }

    .button_cat {
        top: 35%;
        left: 12.5%;

        width: 3rem;

        .icon_Animal {
            scale: -1 1;
        }

        @include respond-up-width(tablet-large) {
            top: 35%;
            left: 7.5%;

            width: 7.25rem;
        }
    }

    .button_duck {
        top: 40%;
        left: 87.5%;

        width: 3.25rem;

        @include respond-up-width(tablet-large) {
            top: 40%;
            left: 80%;

            width: 6.5rem;
        }
    }

    .button_turtle {
        top: 50%;
        left: 50%;

        width: 4.5rem;

        @include respond-up-width(tablet-large) {
            top: 50%;
            left: 45%;

            width: 9.5rem;
        }
    }

    .button_fish {
        top: 75%;
        left: 20%;

        width: 2.875rem;

        @include respond-up-width(tablet-large) {
            top: 80%;
            left: 15%;

            width: 5.5rem;
        }
    }

    .button_rabbit {
        top: 72.5%;
        left: 77.5%;

        width: 3rem;

        .icon_Animal {
            scale: -1 1;
        }

        @include respond-up-width(tablet-large) {
            top: 82.5%;
            left: 65%;

            width: 7rem;
        }
    }

    .icon_Animal {
        width: 100%;
        height: 100%;

        color: $color-mistgrey;

        user-select: none;
        -webkit-user-drag: none;
        transition: color 0.4s ease-in-out;
    }
}
