@use 'colors' as *;
@use 'typography' as *;
@use 'spacing' as *;
@use 'layout' as *;
@use 'animations' as *;

.container_species {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    position: relative;

    width: 100%;

    @include respond-up-width(tablet-large) {
        flex-direction: row;
        align-items: center;
        gap: 2.5rem;

        height: 100%;
    }

    .container_animals {
        position: relative;

        width: 100%;
        height: 9rem;

        @include respond-up-width(tablet-large) {
            width: 60%;
            height: 100%;
        }
    }

    .button_animal {
        all: unset;
        box-sizing: border-box;

        position: absolute;

        aspect-ratio: 420 / 290;

        cursor: pointer;

        &:hover .icon_Animal {
            opacity: 0.3;
        }

        &.active .icon_Animal {
            color: $color-purple;
            opacity: 1;
        }
    }

    .button_cat {
        left: 8%;
        top: 18%;

        width: 30%;
    }

    .button_duck {
        left: 22%;
        top: 13%;

        width: 28%;
    }

    .button_pigeon {
        left: 32%;
        top: 20%;

        width: 36%;
    }

    .button_parrot {
        left: 15%;
        top: 34%;

        width: 29%;
    }

    .button_goose {
        left: 26%;
        top: 39%;

        width: 27%;
    }

    .button_turtle {
        left: 7%;
        top: 53%;

        width: 34%;
    }

    .button_fish {
        left: 20%;
        top: 59%;

        width: 25%;
    }

    .icon_Animal {
        width: 100%;
        height: 100%;

        color: $color-black;
        opacity: 0.12;

        user-select: none;
        -webkit-user-drag: none;
        transition:
            color 0.4s ease-in-out,
            opacity 0.4s ease-in-out;
    }

    .container_details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        animation: Species 0.4s ease;

        @include respond-up-width(tablet-large) {
            width: 40%;

            text-align: left;
        }
    }

    .title_species {
        font-family: 'Gelica';
        font-size: 24px;
        font-weight: 500;
        line-height: 1.3;
        color: $color-black;
    }

    .text_species {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: $color-mediumgrey;
    }

    .text_medicines {
        font-family: 'Gelica';
        font-size: 24px;
        line-height: 1;
        color: $color-purple;
    }

    @media (prefers-reduced-motion: reduce) {
        .container_details {
            animation: none;
        }
    }
}
