@use 'colors' as *;
@use 'typography' as *;
@use 'spacing' as *;
@use 'layout' as *;
@use 'animations' as *;

.container_species {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    position: relative;

    width: 100%;

    @include respond-up-width(tablet-large) {
        flex-direction: row;
        align-items: center;
        gap: 2.5rem;

        height: 100%;
    }

    .container_cluster {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;

        @include respond-up-width(tablet-large) {
            width: 60%;
            height: 100%;
        }
    }

    .container_animals {
        position: relative;

        width: 100%;
        height: 16rem;

        @include respond-up-width(tablet-large) {
            max-width: 40rem;
            height: 100%;
            max-height: 25rem;
        }

        .button_animal {
            all: unset;
            box-sizing: border-box;

            position: absolute;

            aspect-ratio: 420 / 290;

            cursor: pointer;
            transform: translate(-50%, -50%);

            &:hover .icon_Animal {
                color: $color-oceangrey;
            }

            &.active .icon_Animal {
                color: $color-purple;
            }
        }

        .button_parrot {
            left: 47.5%;
            top: 15%;

            width: 44px;

            @include respond-up-width(tablet-large) {
                left: 45%;
                top: 15%;

                width: 100px;
            }
        }

        .button_cat {
            left: 12.5%;
            top: 35%;

            width: 50px;

            .icon_Animal {
                scale: -1 1;
            }

            @include respond-up-width(tablet-large) {
                left: 7.5%;
                top: 35%;

                width: 115px;
            }
        }

        .button_duck {
            left: 87.5%;
            top: 40%;

            width: 52px;

            @include respond-up-width(tablet-large) {
                left: 80%;
                top: 40%;

                width: 105px;
            }
        }

        .button_turtle {
            left: 50%;
            top: 50%;

            width: 72px;

            @include respond-up-width(tablet-large) {
                left: 45%;
                top: 50%;

                width: 150px;
            }
        }

        .button_fish {
            left: 20%;
            top: 75%;

            width: 46px;

            @include respond-up-width(tablet-large) {
                left: 15%;
                top: 80%;

                width: 90px;
            }
        }

        .button_rabbit {
            left: 77.5%;
            top: 72.5%;

            width: 50px;

            .icon_Animal {
                scale: -1 1;
            }

            @include respond-up-width(tablet-large) {
                left: 65%;
                top: 82.5%;

                width: 110px;
            }
        }

        .icon_Animal {
            width: 100%;
            height: 100%;

            color: $color-mistgrey;

            user-select: none;
            -webkit-user-drag: none;
            transition: color 0.4s ease-in-out;
        }
    }

    .container_details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        max-width: 24rem;
        margin-inline: auto;

        animation: Species 0.4s ease;

        @include respond-up-width(tablet-large) {
            width: 40%;
            margin-inline: 0;

            text-align: left;
        }
    }

    .title_species {
        font-family: 'Gelica';
        font-size: 22px;
        font-weight: 500;
        line-height: 1.2;
        color: $color-black;

        @include respond-up-width(desktop) {
            font-size: 28px;
        }
    }

    .text_species {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: $color-mediumgrey;

        @include respond-up-width(desktop) {
            font-size: 18px;
        }
    }

    .text_medicines {
        margin-top: 0.5rem;

        font-size: 16px;
        font-weight: 600;
        line-height: 1;
        color: $color-purple;
    }

    @media (prefers-reduced-motion: reduce) {
        .container_details {
            animation: none;
        }
    }
}
