// this scss file contains all global variables

@use 'sass:map';

$color-primary: #121212;
$color-secondary: #2c2c2c;
$color-muted: #75706f;
$color-muted-light: #949494;

$color-bg-main: #eaeaea;

$color-text-main: #2c2c2c;
$color-text-main-hover: #505050;
$color-text-muted: #75706f;
$color-text-muted-hover: #494949;
$color-text-white: #eaeaea;

$breakpoints-width: (
    sm: 320px,
    md: 440px,
    lg: 540px,
);

$breakpoints-height: (
    md: 600px,
);

@mixin respond-up-width($size) {
    $breakpoint: map.get($breakpoints-width, $size);

    @media (min-width: $breakpoint) {
        @content;
    }
}

@mixin respond-up-width-height($w, $h) {
    $min-width: map.get($breakpoints-width, $w);
    $min-height: map.get($breakpoints-height, $h);

    @media (min-width: $min-width) and (min-height: $min-height) {
        @content;
    }
}

// breakpoints:
// 1: 320px
// 2: 380px : waarschijnlijk niet nodig..
// 3: 440px
// 5: 540px
