// this scss file contains all global variables

$color-primary: #121212;
$color-secondary: #2c2c2c;
$color-muted: #75706f;

$color-bg-main: #eaeaea;

$color-text-main: #2c2c2c;
$color-text-muted: #75706f;
$color-text-muted-hover: #494949;
