// this scss file contains all global styles

@use './variables' as *;

// @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: 'Nexa-Trail-Regular';
    src: url('../assets/fonts/Nexa-Trial-Regular.ttf') format('truetype');
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nexa-Trail-Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.02em;
    font-optical-sizing: auto;
    color: $color-text-main;
}

input {
    font-family: 'Nexa-Trail-Regular', sans-serif;
}

a {
    text-underline-offset: 0.125rem;
    text-decoration-thickness: 0.08rem;
}

a:hover {
    color: $color-text-main-hover;
}

.widget {
    width: 100%;
    // height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    background-color: $color-bg-main;
    border-radius: 15px;

    .search {
        width: 100%;
    }

    .medicines {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        width: 100%;
    }
}
