// this scss file contains all global styles

@use './variables' as *;

@font-face {
    font-family: 'Nexa';
    src: url('../assets/fonts/Nexa-Trial-Regular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 100%;
    overflow-x: hidden;

    font-family: 'Nexa', 'Nunito', sans-serif;

    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: $color-text-main;
    font-optical-sizing: auto;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    // scrollbar-width: none;
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-gutter: stable both-edges;
    scroll-behavior: smooth;
}

body {
    background-color: $color-bg-main;
}

input {
    font-family: 'Nexa', sans-serif;
}

a {
    text-underline-offset: 0.125rem;
    text-decoration-thickness: 0.08rem;
}

svg,
svg path,
svg line,
svg circle {
    will-change: width height;
    shape-rendering: crispEdges;
    vector-effect: non-scaling-stroke;
    backface-visibility: hidden;
}

.widget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100vh;

    .search {
        position: fixed;
        top: 0;

        z-index: 10;

        width: 100%;

        background-color: $color-bg-main;
    }

    .medicines {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        width: 100%;

        > :first-child {
            padding-top: 7.25rem; // the height of Search.tsx + 0.75rem
        }

        > :last-child {
            margin-bottom: 1.5rem;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .background {
        width: 100%;
        height: 100%;

        background-image: url('../assets/backgrounds/background.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: overflow;

        animation: Background 0.4s ease-in-out;
    }

    .ToS {
        padding-inline: 1.25rem;
        padding-bottom: 1.5rem;

        display: flex;
        justify-content: center;

        width: 100%;

        .container_ToS {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;

            width: 100%;
            max-width: 37.5rem;

            @include respond-up-width(md) {
                padding-inline: 1.25rem;
            }

            @include respond-up-width(xl) {
                max-width: 43.75rem;
            }

            .anchor_ToS,
            .anchor_copyright {
                width: fit-content;

                font-size: 14px;
                text-align: center;
                color: $color-text-muted;

                transition: color 0.3s ease-in-out;
            }

            .anchor_ToS:hover,
            .anchor_copyright:hover {
                color: $color-text-main;
            }
        }
    }
}
