// this scss file contains styles for result.tsx

@use './variables' as *;

.medicine {
    padding-inline: 1.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    z-index: 0;

    .container_medicine {
        padding-top: 1rem;
        padding-inline: 1.25rem;
        padding-bottom: 1rem;

        display: flex;
        flex-direction: column;

        width: 100%;
        max-width: 37.5rem;

        border-radius: 25px;
        border: 2px solid $color-muted;

        transition: border-color 0.3s ease;

        .medicine_header {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .medicine_titles {
                position: relative;

                display: flex;
                justify-content: space-between;
                // align-items: center;
                position: relative;

                .medicine_productnaam {
                    font-weight: 800;
                    line-height: 1.3;

                    @include respond-up-width(md) {
                        width: 65%;
                    }
                }

                .medicine_doeldieren {
                    display: none;

                    position: relative;
                    // top: 0.5rem;

                    user-select: none;
                    -webkit-user-drag: none;

                    @include respond-up-width(md) {
                        display: flex;
                    }

                    .AnimalWrapper {
                        position: absolute;
                        bottom: 0;
                        transition: transform 0.45s ease;

                        .AnimalFade {
                            position: absolute;
                            right: 0;
                            z-index: 0; // behind the animal
                        }

                        .Animal {
                            z-index: 1;
                            position: relative;
                        }
                    }

                    // initial stacking
                    @for $i from 1 through 10 {
                        > .AnimalWrapper:nth-child(#{$i}) {
                            right: #{($i - 1) * 1.5}rem; // overlap spacing
                            z-index: #{10 - $i}; // smaller numbers, first one is on top
                        }
                    }

                    // hover: fan out all except the first one
                    @for $i from 2 through 10 {
                        // start at 2
                        &:hover > .AnimalWrapper:nth-child(#{$i}) {
                            transform: translateX(-#{($i - 1) * 1.35}rem); // move proportionally
                        }
                    }
                }

                .medicine_doeldieren {
                    // hover is open, hover again is close
                }
            }

            .medicine_subtitles {
                width: 100%;

                font-size: 14px;
                font-weight: 700;
                color: $color-text-muted;

                .medicine_handelsvergunninghouder {
                }

                .medicine_references {
                    display: none;

                    .medicine_registratienummer {
                    }

                    .references_devider {
                    }

                    .medicine_procedurenummer {
                    }
                }
            }
        }

        .medicine_main {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;

            width: 100%;
            max-height: 0;

            opacity: 0;
            overflow: hidden;

            transition:
                max-height 0.4s ease-in-out,
                opacity 0.4s ease-in-out;

            .container_main {
                padding-top: 0.5rem;
                padding-bottom: 0.75rem;

                display: flex;
                flex-direction: column;
                gap: 0.85rem;

                width: 100%;

                font-size: 14px;
                line-height: 1.3;

                .medicine_info {
                    display: flex;
                    gap: 0.625rem;

                    img {
                        padding-top: 0.35rem;

                        align-self: flex-start;

                        user-select: none;
                        -webkit-user-drag: none;
                    }

                    .medicine_spc-etiket-bijsluiter {
                        color: $color-text-main;

                        transition: color 0.2s ease-in-out;
                    }

                    .medicine_spc-etiket-bijsluiter:hover {
                        color: $color-text-main-hover;
                    }
                }

                .medicine_disclaimer {
                }

                .medicine_bronvermelding {
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;

                    .text_bronvermelding {
                        color: $color-text-main;
                    }

                    .anchor_bronvermelding {
                        max-width: max-content;

                        font-size: 14px;
                        white-space: normal;
                        word-wrap: break-word;
                        overflow-wrap: anywhere;
                        color: $color-text-main;
                    }

                    .anchor_bronvermelding:hover {
                        color: $color-text-main-hover;

                        transition: color 0.2s ease-in-out;
                    }
                }

                .medicine_references {
                    display: flex;
                    justify-content: space-between;

                    color: $color-text-muted;

                    .medicine_registratienummer {
                    }

                    .references_devider {
                    }

                    .medicine_procedurenummer {
                    }
                }
            }
        }

        .medicine_main.show {
            display: flex;
            flex-direction: column;
            gap: 0.85rem;

            max-height: 700px;

            opacity: 1;
        }

        .medicine_toggle {
            display: flex;
            align-items: center;
            gap: 0.625rem;

            width: fit-content;

            user-select: none;
            -webkit-user-drag: none;
            cursor: pointer;

            transform: rotate(0deg);

            .icon_ArrowToggle {
                user-select: none;
                -webkit-user-drag: none;

                transition: transform 0.4s;
            }

            .icon_ArrowToggle.rotate {
                transform: rotate(180deg);
            }

            .text_toggle {
                font-size: 14px;
                color: $color-text-muted;
            }
        }
    }

    .container_medicine:hover {
        border: 2px solid $color-secondary;
    }
}
