// this scss file contains styles for result.tsx

@use './variables' as *;

// Rethink whole class naming

.medicine {
    margin-top: 2.5rem;
    padding-inline: 1.25rem;

    width: 100%;

    .container_medicine {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        padding-top: 1rem;
        padding-inline: 1.25rem;
        padding-bottom: 1rem;

        width: 100%;
        max-width: 37.5rem;

        border: 2px solid $color-muted;
        border-radius: 25px;

        transition:
            border-color 0.3s ease,
            box-shadow 0.3s ease;

        .medicine_header {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .medicine_titles {
                .medicine_productnaam {
                    line-height: 1.25;
                }

                .medicine_doeldieren {
                    display: none;

                    img {
                    }
                }
            }

            .medicine_subtitles {
                color: $color-text-muted;
                font-size: 14px;

                .medicine_handelsvergunninghouder {
                }

                .medicine_references {
                    display: none;

                    .medicine_registratienummer {
                    }

                    .references_devider {
                    }

                    .medicine_procedurenummer {
                    }
                }
            }
        }

        .medicine_main {
            display: none;

            .medicine_info {
                img {
                }
            }

            .medicine_disclaimer {
            }

            .medicine_bronvermelding {
                .text_bronvermelding {
                }

                .anchor_bronvermelding {
                }
            }

            .medicine_references {
                .medicine_registratienummer {
                }

                .references_devider {
                }

                .medicine_procedurenummer {
                }
            }
        }

        .medicine_main.show {
            display: block;
        }

        .medicine_toggle {
            display: flex;
            align-items: center;
            gap: 0.625rem;

            .icon_ArrowToggle {
            }

            .text_toggle {
                color: $color-text-muted;
                font-size: 14px;
            }
        }
    }
}
