// this scss file contains styles for search.tsx

@use './variables' as *;

.component-search {
    padding-inline: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    box-sizing: border-box;

    width: 540px;

    overflow: hidden;

    .container-search-bar {
        margin-top: 12.5%;

        position: relative;
        align-self: center;

        transition: margin-top 0.35s ease;

        .icon-search-bar {
            position: absolute;
            top: 50%;
            left: 27.5px;

            transform: translateY(-45%);

            pointer-events: none;
        }

        .input-search-bar {
            padding-left: 75px;
            padding-right: 25px;

            width: 420px;
            height: 60px;

            background-color: $color-bg-main;
            border: 2px solid $color-muted;
            border-radius: 30px;
            outline: none;
            color: $color-text-main;

            transition:
                border-color 0.3s ease,
                box-shadow 0.3s ease;
        }

        .input-search-bar::placeholder {
            color: $color-text-muted;
        }

        .input-search-bar:focus,
        .input-search-bar:hover {
            border: 2px solid $color-secondary;
            box-shadow: 0 0 0 0.5px $color-secondary;
        }
    }

    .container-search-bar.shift {
        margin-top: 6.25%;
    }
}

.container-search-alphabetical {
    margin-bottom: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transform-origin: bottom;
    transform: translateY(0%);

    height: 110px;
    width: 100%;

    border-radius: 30px;
    border: 2px solid $color-muted;
    opacity: 1;

    transition:
        margin-bottom 0.5s ease,
        height 0.6s ease,
        opacity 0.5s ease,
        transform 0.5s ease,
        border-color 0.3s ease,
        box-shadow 0.3s ease;

    .alphabet-row {
        display: flex;

        opacity: 1;

        transition: opacity 0.15s ease 0.1s;
        cursor: pointer;

        .alphabet-letter {
            margin: 1.5px;
            padding-inline: 11px;
            padding-top: 3px;
            padding-bottom: 3px;

            border-radius: 10px;
            font-size: 20px;
            color: $color-text-muted;

            user-select: none;
            transition:
                background-color 0.3s ease,
                border 0.3s ease,
                color 0.3s ease;
        }

        .alphabet-letter:hover {
            background-color: $color-muted-light;

            color: $color-text-white;

            cursor: pointer;
        }

        .alphabet-letter.selected {
            background-color: $color-muted;
            color: $color-text-white;
        }
    }
}

.container-search-alphabetical:hover {
    border: 2px solid $color-secondary;
    box-shadow: 0 0 0 0.5px $color-secondary;
}

.container-search-alphabetical.disappear {
    margin-bottom: 0;

    transform: translateY(-6.25%);

    height: 0;

    opacity: 0;

    pointer-events: none;

    .alphabet-row {
        opacity: 0;

        transition: opacity 0.15s ease;
    }
}

.container-search-alphabetical.active {
    border: 2px solid $color-secondary;
    box-shadow: 0 0 0 0.5px $color-secondary;
}

// start making breakpoints for responsive design
// overflow-y: scroll; /* only set this on content, not the whole component

// breakpoints:
// 320px - 440px - alleen searchbar zichtbaar
// 440px - 540px - searchbar & alfabetische volgorde zichtbaar

// 320px minimum viewport width
