// this scss file contains styles for search.tsx

@use './variables' as *;

.component-search {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .container-search-bar {
        margin-top: 12.5%;

        position: relative;
        align-self: center;

        transform: translateY(0);

        transition: transform 0.35s ease;

        .icon-search-bar {
            position: absolute;
            top: 50%;
            left: 27.5px;
            transform: translateY(-45%);

            pointer-events: none;
        }

        .input-search-bar {
            padding-left: 75px;
            padding-right: 25px;

            width: 420px;
            height: 60px;

            background-color: $color-bg-main;
            border: 2px solid $color-muted;
            border-radius: 30px;
            color: $color-text-main;
            outline: none;

            transition:
                border-color 0.3s ease,
                box-shadow 0.3s ease;
        }

        .input-search-bar::placeholder {
            color: $color-text-muted;
        }

        .input-search-bar:focus,
        .input-search-bar:hover {
            border: 2px solid $color-secondary;
            box-shadow: 0 0 0 0.5px $color-secondary;
        }
    }

    .container-search-bar.shift {
        transform: translateY(-20px);
    }
}

.container-search-alphabetical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    height: 110px;
    width: 540px;

    border-radius: 30px;
    border: 2px solid $color-muted;
    opacity: 1;
    transform: translateY(0);

    transition:
        border-color 0.3s ease,
        box-shadow 0.3s ease,
        transform 0.35s ease,
        opacity 0.35s ease;

    .alphabet-row {
        display: flex;

        cursor: pointer;

        .alphabet-letter {
            margin: 1.5px;
            padding-inline: 11px;
            padding-top: 3px;
            padding-bottom: 3px;

            border-radius: 10px;
            font-size: 20px;
            color: $color-text-muted;

            user-select: none;
            transition:
                background-color 0.3s ease,
                color 0.3s ease;
        }

        .alphabet-letter:hover {
            background-color: $color-muted;

            color: $color-text-white;

            cursor: pointer;
        }

        .alphabet-letter.selected {
            background-color: $color-muted;
            color: $color-text-white;
        }
    }
}

.container-search-alphabetical:hover {
    border: 2px solid $color-secondary;
    box-shadow: 0 0 0 0.5px $color-secondary;
}

.container-search-alphabetical.disappear {
    transform: translateY(-15px);
    opacity: 0;

    pointer-events: none;
}

// start making breakpoints for responsive design
// overflow-y: scroll; /* only set this on content, not the whole component
