// this scss file contains styles for search.tsx

@use './variables' as *;

.component-search {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .container-search-bar {
        margin-top: 12.5%;

        position: relative;
        align-self: center;

        .icon-search-bar {
            position: absolute;
            top: 50%;
            left: 27.5px;
            transform: translateY(-45%);

            pointer-events: none;
        }

        .input-search-bar {
            padding-left: 75px;

            width: 420px;
            height: 60px;

            background-color: $color-bg-main;
            border: 2px solid $color-muted;
            border-radius: 30px;
            color: $color-text-main;

            outline: none;
            transition:
                border-color 0.3s ease,
                box-shadow 0.3s ease;
        }

        .input-search-bar::placeholder {
            color: $color-text-muted;
        }

        .input-search-bar:focus,
        .input-search-bar:hover {
            border: 2px solid $color-secondary;
            box-shadow: 0 0 0 0.5px $color-secondary;
        }
    }
}

.container-search-alphabetical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: 100px;
    width: 500px;

    border-radius: 30px;
    border: 2px solid $color-muted;

    transition:
        border-color 0.3s ease,
        box-shadow 0.3s ease;

    .alphabet-row {
        display: flex;

        .alphabet-letter {
            padding-inline: 12px;
            padding-top: 3px;
            padding-bottom: 3px;

            color: $color-text-muted;

            transition:
                border-color 0.3s ease,
                box-shadow 0.3s ease;
        }

        .alphabet-letter:hover {
            color: $color-secondary;

            cursor: pointer;
        }
    }
}

.container-search-alphabetical:hover {
    border: 2px solid $color-secondary;
    box-shadow: 0 0 0 0.5px $color-secondary;
}

/* overflow-y: scroll; /* only set this on content, not the whole component */
