@use '../global/colors' as *;
@use '../global/typography' as *;
@use '../global/spacing' as *;
@use '../global/layout' as *;
@use '../global/animations' as *;

.search {
    padding-top: 1.5rem;
    padding-inline: 1.25rem;
    padding-bottom: 0.75rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    z-index: 10;

    background: $color-bg-main;

    &::before {
        position: absolute;
        left: 0;
        top: 0;

        width: var(--search-progress, 0%);
        height: 2px;

        content: '';
        background: $color-secondary;
        opacity: var(--search-opacity, 1);

        pointer-events: none;

        transition:
            width 0.5s ease-in-out,
            opacity 0.35s ease-in-out;
    }

    &.progress-hidden::before {
        opacity: 0;
    }

    &::after {
        position: absolute;
        left: 0;
        bottom: -0.625rem;

        width: 100%;
        height: 0.625rem;

        content: '';
        background: linear-gradient(to bottom, $color-bg-main 10%, rgba($color-bg-main, 0) 100%);

        pointer-events: none;
    }

    .container_search {
        position: relative;

        display: flex;
        justify-content: center;

        width: 100%;
        max-width: 21.25rem;

        @include respond-up-width(md) {
            max-width: 26.25rem;
        }

        .icon_Search {
            position: absolute;
            top: 50%;
            left: 1.5rem;

            width: 1.25rem;
            height: 1.25rem;

            transform: translateY(-45%);
            pointer-events: none;
        }

        .input_search {
            padding-left: 3.55rem;
            padding-right: 1.875rem;
            box-sizing: border-box;

            width: 100%;
            height: 3.125rem;

            background-color: $color-bg-main;
            border: 2px solid $color-muted;
            border-radius: $border-radius-md;
            outline: none;

            font-size: 18px;
            text-indent: 0.25ch;
            color: $color-text-main;

            transition: border-color 0.3s ease;
            appearance: none;
            -webkit-appearance: none;
        }

        .input_search::placeholder {
            z-index: 10;

            color: $color-text-muted;

            user-select: none;
        }

        .input_search:focus,
        .input_search:hover {
            border: 2px solid $color-secondary;
        }
    }

    .container_results {
        margin-top: 0.35rem;
        padding-left: 1.5rem;

        width: 100%;
        max-width: 21.25rem;

        @include respond-up-width(md) {
            max-width: 26.25rem;
        }

        .text_results {
            font-size: 14px;
            color: $color-text-muted;

            animation: SearchMessage 0.35s ease;
        }
    }
}
