@use '../global/colors' as *;
@use '../global/typography' as *;
@use '../global/spacing' as *;
@use '../global/layout' as *;
@use '../global/animations' as *;

.widget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100vh;

    .search {
        position: fixed;
        top: 0;

        z-index: 10;

        width: 100%;

        background-color: $color-bg-main;
    }

    .medicines {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        width: 100%;

        > :first-child {
            padding-top: 7.25rem; // the height of Search.tsx + 0.75rem
        }

        > :last-child {
            margin-bottom: 1.5rem;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .background {
        width: 100%;
        height: 100%;

        background-image: url('../../assets/backgrounds/background-small.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: overflow;

        animation: Background 0.4s ease-in-out;

        @include respond-up-width(xxl) {
            background-image: url('../../assets/backgrounds/background-large.svg');
        }
    }

    .ToS {
        padding-inline: 1.25rem;
        padding-bottom: 1.5rem;

        display: flex;
        justify-content: center;

        width: 100%;

        .container_ToS {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;

            width: 100%;
            max-width: 37.5rem;

            @include respond-up-width(md) {
                padding-inline: 1.25rem;
            }

            @include respond-up-width(xl) {
                max-width: 43.75rem;
            }

            .anchor_ToS,
            .anchor_landing {
                width: fit-content;

                font-size: 14px;
                text-align: center;
                color: $color-text-muted;

                transition: color 0.3s ease-in-out;
            }

            .anchor_ToS:hover,
            .anchor_landing:hover {
                color: $color-text-main;
            }
        }
    }
}
