@use 'colors' as *;
@use 'typography' as *;
@use 'spacing' as *;
@use 'layout' as *;
@use 'animations' as *;

.switch_language {
    align-self: center;

    position: relative;

    width: fit-content;

    color: $color-mediumgrey;

    user-select: none;
    -webkit-user-drag: none;

    @include respond-up-width(tablet-large) {
        display: block;
    }

    .current_language {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .icon_Language {
        user-select: none;
        -webkit-user-drag: none;
    }

    .languages {
        margin-top: 0.2rem;

        position: absolute;
        top: 100%;
        left: 0;
        overflow: hidden;

        max-height: 0;

        opacity: 0;

        transition:
            max-height 0.5s ease-in-out,
            opacity 0.5s ease-in-out;
    }

    .language {
        all: unset;
        box-sizing: border-box;

        width: fit-content;

        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: $color-black;
        }
    }

    &:hover .languages,
    &:focus-within .languages {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        max-height: 10rem;

        opacity: 1;
    }
}
