@use 'colors' as *;
@use 'typography' as *;
@use 'spacing' as *;
@use 'layout' as *;
@use 'animations' as *;

.screenwarning {
    display: flex;
    justify-content: center;

    height: 100dvh;

    .container_screenwarning {
        padding-inline: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        background-color: $background-site;

        .image_Logo {
            width: 5.625rem;
        }

        .text_screenwarning {
            text-align: center;

            font-size: 18px;
            line-height: 1.5;
            color: $color-mediumgrey;
        }
    }
}
